*{
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.bigbox{
    height: 100%;
    width: 100%;
}
.box{
    height: 100px;
    width: 100px;
    border-style: dashed 2px black;
    display: inline-block;
}

.black{
    background-color: black;
}

.green{
    background-color: green;
}

.blue{
    background-color: blue;
}

.pink{
    background-color: pink;
}
